<section id="admins" class="section mb-4">
    <div class="container">
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card p-4 forms">
                    {{#if message}}<p class="error" style="font-weight: 700;">{{message}}</p>{{/if}}
                    <div class="card-body">
                        <h5 class="card-title" style="color: #21BF73;">Candidate Registered Successfully!</h5>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Launchpad ID</th>
                                    <th>{{candidate.id}}</th>
                                </tr>
                                <tr>
                                    <th>Name:</th>
                                    <th>{{candidate.name}}</th>
                                </tr>
                                <tr>
                                    <th>Date:</th>
                                    <th>{{candidate.time}}</th>
                                </tr>
                                <tr>
                                    <th>Regstered Pools:</th>
                                    <th>{{candidate.pools}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center">
                <a href="/admin/registrations/candidates/find" class="btn">Add Next</a>
            </div>
        </div>
    </div>
</section>