<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <h5 class="text-center mb-3" style="color: #21BF73;">
                            <strong>
                                {{#if candidate.allotment.allotted}}
                                Congratulations!<br>
                                {{success_message}} <br>
                                Now you can download your Admit Card
                                {{else}}
                                <span style="color:rgb(252, 43, 85)">{{failure_message}}</span>
                                {{/if}}
                            </strong>
                        </h5>
                        {{#with candidate}}
                        <h3>Candidate Information</h3>
                        <table class="table mb-4">
                            <tbody>
                                <tr>
                                    <td>Launchpad Kerala ID:</td>
                                    <td><strong>{{id}}</strong></td>
                                </tr>
                                <tr>
                                    <td>Rank:</td>
                                    <td><strong>{{rank}}</strong></td>
                                </tr>
                                <tr>
                                    <td>Name:</td>
                                    <td><strong>{{name}}</strong></td>
                                </tr>
                                <tr>
                                    <td class="text-truncate">Registered Email ID:</td>
                                    <td style="word-wrap: break-word;">{{email}}</td>
                                </tr>
                                <tr>
                                    <td>College/Institution:</td>
                                    <td>{{college}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>Allotment Details</h3>
                        {{#if allotment.allotted}}
                        <table class="table mb-4">
                            <tr>
                                <td>Allotted Pool :</td>
                                <td><strong>Pool {{allotment.pool}}</strong></td>
                            </tr>
                            <tr>
                                <td>Location :</td>
                                <td><strong>{{allotment.location}}</strong></td>
                            </tr>
                            <tr>
                                <td>Reporting Date :</td>
                                <td><strong>{{allotment.date}}</strong></td>
                            </tr>
                            <tr>
                                <td>Reporting Time :</td>
                                <td><strong>{{allotment.time}}</strong></td>
                            </tr>
                        </table>
                        <div class="content">

                            <h3 class="mt-4">General Instructions: </h3>
                            <ul>
                                <li><i class='bx bxs-chevron-right'></i>
                                    <p style="color: rgb(252, 43, 85); font-weight: 700">
                                        It is mandatory for all allotted candidates to attend the allocated pool. In
                                        case of
                                        non-attendance, you will be blacklisted or suspended from future events</p>
                                </li>
                                <li><i class='bx bxs-chevron-right'></i>
                                    <strong style="color: rgb(252, 43, 85); font-weight: 700"> Those who fail to produce
                                        the allotment card at
                                        the venue will not be allowed to sit for the interviews.</strong> It is
                                    mandatory for all
                                    candidates to carry the allotment card with them on the reporting day.
                                </li>
                                <li><i class='bx bxs-chevron-right'></i>
                                    Please note that you need to enter the [Location] via the main gate only.
                                </li>
                                <li><i class='bx bxs-chevron-right'></i><strong
                                        style="color: rgb(252, 43, 85); font-weight: 700">All attendees are required to
                                        carry the
                                        copy of
                                        candidate allotment card,</strong>.
                                </li>
                                <li><i class='bx bxs-chevron-right'></i><strong
                                        style="color: rgb(252, 43, 85); font-weight: 700">Entrance through the main gate
                                        is the only way to access the venue for the offline interviews.</strong>.
                                </li>
                                <li><i class='bx bxs-chevron-right'></i>All attendees must carry enough copies
                                    of your resume. <strong>If you do not receive the allotment card one day before the
                                        reporting date, kindly contact us immediately.</strong></li>
                                <li><i class='bx bxs-chevron-right'></i> <strong>candidates must report at the
                                        registration desk on
                                        or before the reporting time</strong></li>
                                <li><i class='bx bxs-chevron-right'></i> <strong
                                        style="color: rgb(252, 43, 85); font-weight: 700"> Please ensure that you bring
                                        a valid form of
                                        identification with you to the event.</strong> This can include any
                                    government-issued ID such
                                    as a passport, driver's license, or national ID card.</li>
                            </ul>
                        </div>
                        <div class="card-footer mt-4">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/assets/doc/Admit Card-{{id}}.pdf" download="Admit Card - {{id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        Download Admit Card
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <p style="color: rgb(252, 43, 85); font-weight: 700">
                            We are sorry to inform you that you have been placed on the waiting list and will not be
                            able
                            to attend the offline interview at this time. Although your application was strong, we
                            received an overwhelming number of qualified applicants and unfortunately, we were unable to
                            accommodate everyone.
                        </p>
                        <p>
                            We understand that this news may be disappointing, but we encourage you to keep honing your
                            skills and exploring new opportunities in the field. In the future, we hope that you will
                            consider applying again for Launchpad Kerala or other similar events.
                        </p>
                        <p>Thank you for your interest in Launchpad Kerala and we wish you all the best in your future
                            endeavors.</p>
                        {{/if}}
                        {{/with}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <p style="color: #FC862B; font-weight: 700">
                            Please regularly check the update page on our website for all the updates
                            and announcements regarding the further process. We strive to keep our participants informed
                            and
                            updated with any changes or important information.</p>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/updates">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        View All updates
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>