<section id="admins" class="section mb-4">
    <div class="container">
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card row">
                    <div class="card-body">
                        <h5 class="card-title">Candidate Details</h5>

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Launchpad ID</th>
                                    <th>{{candidate.id}}</th>
                                </tr>
                                <tr>
                                    <th>Rank</th>
                                    <th>{{candidate.rank}}</th>
                                </tr>
                                <tr>
                                    <th>Aadhar ID</th>
                                    <th>{{candidate.other_id.aadhar}}</th>
                                </tr>
                                <tr>
                                    <th>KKEM ID</th>
                                    <th>{{candidate.other_id.kkem}}</th>
                                </tr>
                                <tr>
                                    <th>Name:</th>
                                    <th>{{candidate.name}}</th>
                                </tr>
                                <tr>
                                    <th>Registered Email ID</th>
                                    <th>{{candidate.email}}</th>
                                </tr>
                                <tr>
                                    <th>Registered Phone Number</th>
                                    <th>{{candidate.phone}}</th>
                                </tr>
                                <tr>
                                    <th>College/Institution</th>
                                    <th>{{candidate.college}}</th>
                                </tr>
                                <tr>
                                    <th>Course</th>
                                    <th>{{candidate.degree}}</th>
                                </tr>
                                <tr>
                                    <td>Branch</td>
                                    <td>{{candidate.accademic.branch}}</td>
                                </tr>
                                <tr>
                                    <td>Year of Graduation</td>
                                    <td>{{candidate.year_of_graduation}}</td>
                                </tr>
                                <tr>
                                    <td>CGPA</td>
                                    <td>{{candidate.accademic.cgpa}}</td>
                                </tr>
                                <tr>
                                    <td>Total Backlogs</td>
                                    <td>{{candidate.accademic.total_backlogs}}</td>
                                </tr>
                                <tr>
                                    <td>Active Backlogs</td>
                                    <td>{{candidate.accademic.active_backlogs}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer row justify-content-center align-items-center">
                        <div class="form-group text-center col-12">
                            <a href="/admin/candidates/edit/{{candidate.id}}" class="btn">Edit Candidate</a>
                        </div>
                        <div class="form-group text-center col-12">
                            <a href="/admin/candidates" class="btn">Cancel</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>